.loading-animation {
    display: flex;
    justify-content: space-between;
    height: 20.5px;
    width: 41.2px;
  
}

.rectangle-1,
.rectangle-2,
.rectangle-3,
.rectangle-4 {
    width: 90px;
    height: 20px;
    margin-right: 4.5px;
    background-color: #0f9148;
    animation: loading-animation .8s linear infinite;
}

@keyframes loading-animation {
    0% {
        background-color: #0f9148;
        opacity: 1;
    }

    20% {
        background-color: #0f9148;
        opacity: 0.8;
    }

    40% {
        background-color: #0f9148;
        opacity: 0.6;
    }

    60% {
        background-color: #0f9148;
        opacity: 0.2;
    }

    80% {
        background-color: #0f9148;
        opacity: 0.1;
    }

    100% {
        background-color: #0f9148;
        opacity: 0.1;
    }
}
.rectangle-2 {
    animation-delay: .1s;
}

.rectangle-3 {
    animation-delay: .2s;
}

.rectangle-4 {
    animation-delay: .3s;
}